.newslist__news {
	padding-bottom: 15px;
}
.newslist__allnewsbtn {
	float: right;
}
.newslist__news__image {
	padding-top: 15px;
}
.newslist__news_newdescr {
	height: 120px;
	overflow: hidden;
	text-align: justify;
}
.newslist__news_readmorebtn {
	width: 120px;
}
