.allspecial_btn {
	width: 120px;
	margin-bottom: 20px;
}
.product-thumb .caption {
	min-height: 120px;
}
.special_title {
	color: #23a1d1;
	text-align: center;
	font-size: 25px;
	padding-bottom: 5px;
}
.countdownwrap canvas {
	margin: 10px auto;
    display: block;
}